WindowsFormsMobile/MVCMobile/Service References/ServiceReferenceDanhMuc/ServiceDanhMuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4346/ServiceDanhMuc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceMobile" />
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceMobile" minOccurs="0" name="findAllResult" nillable="true" type="q1:ArrayOfDanhMucSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceMobile" minOccurs="0" name="findResult" nillable="true" type="q2:DanhMucSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceMobile" minOccurs="0" name="GetByIdResult" nillable="true" type="q3:ArrayOfDanhMucSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tendm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceMobile" minOccurs="0" name="GetByNameResult" nillable="true" type="q4:ArrayOfDanhMucSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>